header {
  background: #000;
  color: #fff;
  padding: 0px 32px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 72px;
}

@media (max-width: 550px) {
  header {
    padding: 0px;
    justify-content: center;
  }
}
