header {
  background: #000;
  color: #fff;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 72px
}

.left,
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  width: 325px;
}

@media (max-width: 768px) {
  .left-nav-item {
    display: none;
  }
  .left {
    width: 130px;
  }
}

.right {
  width: 204px;
}

.left-nav-item,
.right-nav-item {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 12px 6px 12px;
  border-radius: 20px;
  transition: 0.15s;
  white-space: nowrap;
}

.left-nav-item:hover,
.right-nav-item:hover {
  background-color: rgb(50, 50, 50);
}

.left-nav-item:active,
.right-nav-item:active {
  background-color: rgb(96, 96, 96);
}

.sign-up {
  background-color: white;
  color: black;
  font-size: 14px;
  padding: 6px 12px 6px 12px;
  border-radius: 20px;
  text-decoration: none;
  white-space: nowrap;
  transition: 0.15s;
}

.sign-up:hover {
  background-color: rgb(220, 220, 220);
}

.sign-up:active {
  background-color: rgb(200, 200, 200);
}
