.header {
  background: #000;
  color: #fff;
  padding: 16px 32px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  height: 72px;
}

.left,
.right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

@media (max-width: 768px) {
  .leftNavItem {
    display: none;
  }
  .left {
    width: 130px;
  }
}

.leftNavItem,
.rightNavItem {
  color: #fff;
  text-decoration: none;
  font-size: 14px;
  padding: 6px 12px 6px 12px;
  border-radius: 20px;
  transition: 0.15s;
  white-space: nowrap;
}

.leftNavItem:hover,
.rightNavItem:hover {
  background-color: rgb(50, 50, 50);
}

.leftNavItem:active,
.rightNavItem:active {
  background-color: rgb(96, 96, 96);
}
