body {
  font-family: Arial, sans-serif;
  padding-top: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(240, 240, 240);
}

h1 {
  font-size: 24px;
  margin: 0;
  white-space: nowrap;
}
