.wrapper {
  display: none;
}

.container {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: white;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1), 0 -2px 8px rgba(0, 0, 0, 0.1);
  padding: 32px;
  gap: 36px;
  text-align: center;
  width: 400px;
}

.h1 {
  font-size: 24px;
  white-space: nowrap;
  text-align: center;
}

.accountTypes {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 75%;
}

.link {
  text-decoration: none;
  background-color: black;
  color: white;
  padding: 6px;
  border-radius: 20px;
  font-size: 16px;
  transition: 0.15s;
}

.link:hover {
  background: rgb(50, 50, 50);
}

.link:active {
  background: rgb(96, 96, 96);
  box-shadow: none;
}

@media (max-width: 768px) {
  .wrapper {
    display: block;
    padding-bottom: 360px;
  }

  .container {
    transform: translateX(-50%);
    top: 120px;
    width: 85%;
  }
}

@media (max-height: 640px) and (min-width: 768px) {
  .wrapper {
    display: block;
    padding-bottom: 360px;
  }
  .container {
    transform: translateX(-50%);
    top: 120px;
    min-height: fit-content;
    overflow-y: auto;
  }
}
