<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Account Type</title>
    <link rel="stylesheet" href="../static/styles/account_type/general.css" />
    <link rel="stylesheet" href="../static/styles/account_type/header.css" />
    <link rel="stylesheet" href="../static/styles/account_type/page.css" />
  </head>
  <body>
    <header>
      <a class="logo" href="{{ url_for('index') }}">
        <img src="" alt="app-name/logo" />
      </a>
    </header>

    <div class="container">
      <h1>Choose Your Account Type</h1>
      <div class="account-types">
        <a
          href="{{ url_for('signup_form', account_type='student') }}"
          class="account-type-btn"
        >
          Student
        </a>
        <a
          href="{{ url_for('signup_form', account_type='teacher') }}"
          class="account-type-btn"
        >
          Teacher
        </a>
        <a
          href="{{ url_for('signup_form', account_type='parent') }}"
          class="account-type-btn"
        >
          Parent
        </a>
      </div>
    </div>
  </body>
</html>
