<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>App Name</title>
    <link rel="stylesheet" href="../styles/homepage/general.css">
    <link rel="stylesheet" href="../styles/homepage/header.css">
    <link rel="stylesheet" href="../styles/homepage/page.css">
    <link rel="stylesheet" href="../styles/homepage/footer.css">
  </head>
  <body>
    <header>
      <nav class="left">
        <a class="logo" href="#">
          <img src="" alt="app-name/logo">
        </a>
        <a class="left-nav-item" href="#">Learn</a>
        <a class="left-nav-item" href="#">Teach</a>
        <a class="left-nav-item" href="#">About</a>
      </nav>
      <nav class="right">
        <a class="right-nav-item" href="#">Help</a>
        <a class="right-nav-item" href="#">Log In</a>
        <a class="sign-up" href="#">Sign Up</a>
      </nav>
    </header>

    <section class="hero">
      <h1>Learn music with app-name</h1>
      <p>Connect students with teachers for music lessons</p>
      <div class="search-bar">
        <input type="text" placeholder="Search for a music teacher" />
        <button>Search</button>
      </div>
    </section>

    <section class="card-grid">
      <a href="#">
        <div class="card">
          <img src="../public/images/student.jpg" alt="Students" />
          <div class="card-text">
            <h2>For Students</h2>
            <p>
              Find music teachers who match your learning style and skill level.
            </p>
          </div>
        </div>
      </a>

      <a href="#">
        <div class="card">
          <div class="opposite-card-text">
            <h2>For Teachers</h2>
            <p>Grow your studio, set your availability, and&nbsp;get paid seamlessly.</p>
          </div>
          <img src="../public/images/teacher.jpg" alt="Teachers" />
        </div>
      </a>

      <a href="#">
        <div class="card">
          <img src="../public/images/parent.jpg" alt="Parents" />
          <div class="card-text">
            <h2>For Parents</h2>
            <p>
              Manage your child's lessons, schedule, and payments all in one place.
            </p>
          </div>
        </div>
      </a>
    </section>

    <footer>
      <p>put footer stuff here</p>
    </footer>
  </body>
</html>
